
.blurBg{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-filter: blur(50px);
	background-size: cover;
	background-repeat: repeat-x;
	background-color: white;
}

.twitter-btn{
	background: transparent;
	color: white;
}


.twitter-btn:focus, .twitter-btn:hover{
	background: white;
	color: black;
	border: 1px solid white;
}

.twitter-btn i{
	color: #00ACED;
	font-size: 1.5em;
	vertical-align: top;
}

.twitter-btn img{
  border-radius: 48px;
  height: 48px;
  width: 48px;
}

.eventTitle{
	display: block;
	white-space: nowrap !important;
	width: 100%;
}

.eventTitle .title{
	font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
	font-size: 36px;
	padding-right: 75px;
}

#bigPicture, #bigTitle{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: top center;
	background-repeat: repeat-y;
	background-attachment: fixed;
}

#bigPicture img{
	width: 100%;
	z-index: 0;
	position: relative;
}



.bgGradient{
	position: absolute;
	left: 0;
	top: 0;
	
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.10) 50%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.75) 100%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25) 0%,rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.5) 100%);
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.25) 0%,rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.5) 100%);
	z-index: 0;
	width: 100%;
	height: 100%;
}



#bigPicture + .container{
	margin-top: 400px;
	position: relative;
}

#bigTitle{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	margin-top: -53px; /* header height */
}

#bigTitle + .container{
	top: 100%;
	padding-top: 40px;

}

#bigTitleContent{
	position: absolute;
	bottom: 0px;
	z-index: 1;
	width: 100%;
}


#bigTitleContent #downinfo{
	color: white;
}

#bigTitleContent h1{
	color: white;
    width: 100%;
    text-align: center;
    padding: 0px 50px 0;
    font-size: 78px;
	line-height: 82px;
	
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, black 40%, black 60%, rgba(255, 255, 255, 1) 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-webkit-animation: animBg 3s infinite linear;
}


#bigTitle h1{
  	background: linear-gradient(left, rgba(255, 255, 255, 1) 0%, black 40%, black 60%, rgba(255, 255, 255, 1) 100%);
  	background-clip: text;
  	text-fill-color: transparent;
	animation: animBg 3s infinite linear;
}


@-webkit-keyframes animBg {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 1em;
	}
}

@keyframes animBg {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: 1em;
	}
}



@media (max-width: 992px){
	#bigTitle h1 {
		padding: 10px;
		font-size: 30px;
		line-height: 30px;
	}
	
}
/*
.dayLabel{
	background: rgba(0, 0, 0, 0.15);
	color: white;
	border-bottom: 1px solid white;
}

.monthLabel {
	border-top: 0;
}

*/
.shareLabel{
	color: white;
	text-shadow: 0 1px 1px #aaa;
	font-size: 24px;
	font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
	vertical-align: middle;
}

.shareBtn{
	background: transparent;
	color: white;
	border: 0;
	border-radius: 28px;
	padding: 10px;
	text-shadow: 0 1px 1px #aaa;
	box-shadow: inset 0 1px 1px #fff;
}

.shareBtn i{
	min-width: 24px;
}

.shareBtn:hover, .shareBtn:focus{
	color: rgba(88, 86, 214,1);
	background: white;
	border: 0;
	text-shadow: 0 3px 1px #fff;
}


.maplink{
	display: block;
	background: #1FA2F4;
	padding: 5px 10px;
	color: white;
}

/*
 * go fullscreen
 */
.goFS{
	position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100%;
  z-index: 2;
	
}

.goFS .listBigTitle {
    position: absolute;
  bottom: 400px;
  z-index: 1;
  width: 100%;
  left: 0;
  height: auto;
  background: red;
}

.goFS [data-img].imgLoaded {
-webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
	
}
