html, body{
	position: relative;
	min-height: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased; 
}


body{
	background-color: #c644fc;
	background-image: -webkit-linear-gradient(#c644fc, #5856d6);
	background-image: linear-gradient(#c644fc, #5856d6);
	background:fixed radial-gradient(circle farthest-side at right top,#f8cdda,#1d2b64 80%,#0e153a);
	background-image : url('../img/desk1600.jpg'); /*http://startupstockphotos.com/post/94180097361/download#notes*/
	background-attachment: fixed;
	background-size: cover;
	position: relative;	
}

::-webkit-scrollbar {
    width: 0;
}


img{
	max-width: 100%;
}

.io{
	text-indent: -1.35em;
	display: inline-block;
	font-size: .6em;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
	position: relative;
  min-height: 100%;
  height: auto;
  	margin: 0 auto -32px; /* the bottom margin is the negative value of the footer's height */

}

.page{
	//position: relative;
	z-index: 2;
}

/* Set the fixed height of the footer here */
#footer {
  background-color: black;
  position: relative;
width: 100%;
}

#footer .text-muted {
	color: #aaa;
}

#footer i{
	font-size: 1.5em;
	vertical-align: middle;
}

#footer iframe{
	vertical-align: middle;
}

#footer a{
	color : #fff;
}

#footer, .push {
height: 32px;
}

h1.title {
margin-top: 0;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0px 15px 0;
}
.container .credit {
  margin: 5px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

blockquote{
	background: #fff;
}

*{
	white-space: normal !important;
	word-break: break-word;
}


#top{
	float: right;
}


.listBlock{
	background-size: cover; 
	width: 265px;
	height:250px; 
	display: inline-block; 
	vertical-align : top;
	position: relative;
	margin: 10px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.5);
	transition: .3s;
	overflow: hidden;
	
}



.listBlock div.thankyouBG {
	background-color: #c644fc;
	background-image: -webkit-linear-gradient(#c644fc, #5856d6);
	background-image: linear-gradient(#c644fc, #5856d6) !important;
	transform: scale(1);
	opacity: 1;
}

.thankyou .iconthankyou{
	font-size: 3em;
	display: block;
	text-align: center;
	margin: 0.25em;
}


.thankyoubutton {
	margin-top: 0;
	width: 100%;
	display: block;
	text-align: center;
	z-index: 5;
	position: relative;
}




.thankyoubutton a{
	color: white;
	text-align: center;
	border: 1px solid white;
	text-shadow: none;
}

.thankyoubutton a:hover{
	background: white;
	color: #5856d6;
}

.listBlock div{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	transition: .5s;
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);
	opacity:0;
}

[data-img]{
	transition: .5s;
	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);
	opacity:0;
}

.listBlock:hover div, .listBlock:focus div{
	transition: .3s;
}

.listBlock div.imgLoaded, [data-img].imgLoaded{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	transform:scale(1.2);
	opacity:1;
}

.listBlock .listBigTitle{
	position: absolute;
	bottom: 0;
	left: 0;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0.35) 100%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0.35) 100%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0.35) 100%);
	background-image: linear-gradient(top, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0.05) 30%, rgba(0, 0, 0, 0.05) 80%, rgba(0, 0, 0, 0.35) 100%);
	color: white;
	margin: 0;
	font-weight: normal;
	text-align: left;
	z-index: 1;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	transition : .3s;
	box-shadow: 2em 0em .2em transparent, 0 2em .2em transparent, -2em 0 .2em transparent, 0 -2em .2em transparent;

}

.listBlock:hover .listBigTitle, .listBlock:focus .listBigTitle{
	
//box-shadow : 0 0em 3em black;
transition: .3s;
box-shadow: .5em 0 1em white, 0 .5em 1em white, -.5em 0 1em white, 0 -.5em 1em white;
}


.listBlock .listTitle{
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px 5px 0 5px; 
}

.listBlock .listDate {
	padding: 0px 5px;
text-align: right;
display: block;
}

.listBlock .dayMoment{
	font-weight: bold;
}


.listBlock .listWhere{
	position: absolute;
bottom: 0;
text-align: right;
width: 100%;
left: 0;
padding: 5px;

}

.list-group{	
	border-bottom: 1px solid #dddddd;
	box-shadow: 0px 0px 0px #AAA;
	color: black;
}
.list-group .list-group-item a{
	background-color: rgba(255,255,255,.8);
	color: #444;
	text-shadow: 0px 1px 0px #fff;
	padding: 5px 10px;
	display: block;
	text-decoration: none;
	transition: .3s;
}


.list-group .list-group-item a:hover, .list-group .list-group-item a:active, .list-group .list-group-item a:focus{
	background-color: rgba(255,255,255,0);
	transition: .1s;
}

.list-group .list-group-item{
	padding: 0;
	margin-bottom: 10px;
	background: white top center no-repeat;
	transition: .3s ease-out;
}

.list-group .list-group-item:hover{
	background: white center center no-repeat;
	transition: .6s ease-out;
}

.list-group-item-heading{
	font-weight: bold;	
}

.list-group-item p{
	margin-bottom: 0;
}

.title{
	color: white;
	position: relative;
	padding: 5px 15px;
	font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
	display: inline-block;
	text-shadow: 0 2px 1px black;
	
}

.title.brand{
	font-size: 40px;
	display: inline-block;
	margin-top: 0;

}


.title a.btn {
	text-shadow: none;
}

.title iframe{
	vertical-align: bottom;
}


.animate-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  -moz-animation: enter_sequence 1s linear; /* Firefox */
  -o-animation: enter_sequence 1s linear; /* Opera */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.animate-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* IE10+ and Future Browsers */

 /* The animation preparation code */
 opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter.animate-enter-active {
 /* The animation code itself */
 opacity: 1;
}

@media (max-width: 620px){
	.eventTitle .title{
		font-size : 24px;
		width: 230px;
		padding-right: 0;
	}
	
	.row .col-md-12{
		padding: 0;
	}
	
	a.listBlock{
		
		width: 100%;
		margin: 0; 
		
	}
}




.calendarframe{
	text-align: center;
	display: inline-block;
	position: relative;
	padding: 5px;
	background: rgba(0, 0, 0, 0.33);
	color: white;
}

.listBlock .calendarframe{
	
	
}

.dayLabel{

display: block;
clear: both;
}

.dayNumber{
display: block;
font-size: 3em;
line-height: 1em;

font-family: 'Helvetica Neue Thin', 'HelveticaNeue-Thin', 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
}

.monthLabel{
	display: block;
text-align: center;
}

.loader {
  	width: 150px;
height: 150px;
line-height: 150px;
margin-left: -75px;
box-sizing: border-box;
text-align: center;
text-transform: uppercase;
position: absolute;
top: 0px;
left: 50%;
border-radius: 85px;
color: white;
z-index: 500;
display: none;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: 5px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@media (min-width: 992px){

	.listBlock:first-child, .listBlock:nth-child(8), .listBlock:nth-child(9){
		width: 550px;
	}
	
	.thankyoubutton {
		margin-top: 3em;
	}
	
	.thankyou .iconthankyou{
		font-size: 6em;
		display: inline-block;
	}
}

@media (max-width: 620px){

	.custom-header .nav-text{
		display: none;
	}
	
}
