html, body{
	position: relative;
	height: 100%;
}


body{
	background-color: #D9CFC6;
	position: relative;
}


img{
	max-width: 100%;
}

.io{
	text-indent: -1.75em;
	display: inline-block;
	font-size: .6em;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  //height: 60px;
  background-color: #f5f5f5;
  position: relative;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 0px 15px 0;
}
.container .credit {
  margin: 5px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

blockquote{
	background: #fff;
}

*{
	white-space: normal !important;
	word-break: break-word;
}


a.listBlock{
	background-size: cover; 
	width: 275px;
	height:250px; 
	display: inline-block; 
	vertical-align : top;
	position: relative;
	margin: 5px;
	text-decoration: none;
	background: white;
	overflow: hidden;
}

a.listBlock div{
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	background-size: cover;
	//background-size: 100%;
	background-repeat: no-repeat;
	//-webkit-filter: sepia(100%);
	transition: .5s;
	box-shadow: 0 1px 1px #aaa;
	-webkit-transform:scale(0.8);
	opacity:0;
}

[data-img]{
	transition: .5s;
	-webkit-transform:scale(0.8);
	opacity:0;
}

a.listBlock:hover div, .listBlock:focus div{
	-webkit-filter: sepia(0);
	transition: .3s;
}

a.listBlock div.imgLoaded, [data-img].imgLoaded{
	-webkit-transform:scale(1);
	opacity:1;
}

.listBlock h4{
	background: white; 
	color : black; 
	margin:0 ;
	padding: 5px 10px;
	position: relative;
	font-weight: normal;
	text-align: left;
	z-index: 1;
	box-shadow: 0 1px 1px #aaa;
}

.listBlock .listDate{
background: white; 
	color : black; margin:0; text-align: right;
	position: relative;z-index: 1;
}

.listBlock .listWhere{
	position:absolute; 
	bottom: 0;
	right:0;
	background: white; 
	color : black;
	margin: 0;
	padding: 0 5px;
	text-align: right;
	//width: 100%;
}

.list-group{	
	border-bottom: 1px solid #dddddd;
	box-shadow: 0px 0px 0px #AAA;
	color: black;
}
.list-group .list-group-item a{
	background-color: rgba(255,255,255,.8);
	color: #444;
	text-shadow: 0px 1px 0px #fff;
	padding: 5px 10px;
	display: block;
	text-decoration: none;
	transition: .3s;
}


.list-group .list-group-item a:hover, .list-group .list-group-item a:active, .list-group .list-group-item a:focus{
	background-color: rgba(255,255,255,0);
	transition: .1s;
}

.list-group .list-group-item{
	padding: 0;
	margin-bottom: 10px;
	background: white top center no-repeat;
	transition: .3s ease-out;
}

.list-group .list-group-item:hover{
	background: white center center no-repeat;
	transition: .6s ease-out;
}

.list-group-item-heading{
	font-weight: bold;	
}

.list-group-item p{
	margin-bottom: 0;
}

.title{
	background-color: #7fc04c;
	color: white;
	position: relative;
	padding: 5px 15px;
	font-size: 24px;
	display: inline-block;
	text-shadow: 0 2px 1px black;
	
}

.title.brand{
	font-size: 40px;
display: inline-block;
margin-top: 0;

}

.maplink{
	display: block;
background: #1FA2F4;
padding: 5px 10px;
color: white;
}

.title a.btn {
	text-shadow: none;
	//color : white;
	//display: block;
}

.title iframe{
	vertical-align: bottom;
}

.title::after {
position: absolute;

width: 0px;
height: 0px;
border-style: solid;
border-width: 0 15px 10px 0;
border-color: transparent #999 transparent transparent;
content: ' ';

left: auto;
right: 0;
bottom: -10px;
border-width: 10px 15px 0 0;
border-color: #5a8e32 transparent transparent transparent;
content: ' ';
	
}
.animate-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  -moz-animation: enter_sequence 1s linear; /* Firefox */
  -o-animation: enter_sequence 1s linear; /* Opera */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.animate-enter {
 -webkit-transition: 1s linear all; /* Safari/Chrome */
 -moz-transition: 1s linear all; /* Firefox */
 -o-transition: 1s linear all; /* Opera */
 transition: 1s linear all; /* IE10+ and Future Browsers */

 /* The animation preparation code */
 opacity: 0;
}

/*
 Keep in mind that you want to combine both CSS
 classes together to avoid any CSS-specificity
 conflicts
*/
.animate-enter.animate-enter-active {
 /* The animation code itself */
 opacity: 1;
}

.blurBg{
	position: absolute;
content: '';
top: 0;
left: 0;
width: 100%;
height: 100%;
-webkit-filter: blur(3px);
background-size: cover;
background-repeat: repeat-x;
background-color: white;
}


.twitter-btn{
	background: #5BC8ED;
	color:white;
}
