

.navbar-default {
background-color: transparent;
border-color: transparent;
}

.navbar-default .navbar-brand{
	margin-left: 0;
padding-top: 0px;
padding-bottom: 10px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand:focus, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	text-shadow: 0 1px 1px black;
	font-size: 20px;
}


.custom-header{
	  position: fixed;
	  z-index: 1000;
	  padding-top: 10px;
	  border: 1px solid transparent;
	  padding-bottom: 10px;
	  width: 100%;
	  background: rgba(0, 0, 0, 0);
	  transition: .3s;
}

.navScrolled .custom-header{
	  background: rgba(0, 0, 0, .7);
}

.custom-header .container{
	padding: 0;
}

.custom-header ul{
	list-style: none;
	padding: 0;
	margin: 0;
}


.custom-header ul li {
	float: right;
	position: relative;
	display: block;
}

.custom-header ul li.brand {
	float: left;
}




.custom-header ul li.brand i {
	font-size: 2em;
	line-height: 20px;
}
.custom-header ul li a{
	color: #fff;
	opacity: .6;
	text-shadow: 0 1px 1px black;
	font-size: 20px;
	padding: 20px;
	text-decoration: none;
	transition: .3s ease-out;
}

.custom-header ul li a:hover,.custom-header ul li a:active,
.custom-header ul li a:focus {
	opacity: 1;
}

.custom-header ul li.brand a{
	padding-left: 10px;
	opacity: 1;
}


/* search */



.cse .gsc-control-cse, .gsc-control-cse {
	background-color: transparent !important;
	border: none !important;
	padding: 0 !important;
}

form.gsc-search-box {
	font-size: 13px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0 !important;
	margin-left: 0;
	width: 100%;
}


.gsc-selected-option-container{
	width: auto !important;
	max-width: none !important;
}

.gsc-orderby-container, .gcsc-branding-text-name{
display: none;
}

.gcsc-branding-text {
white-space: nowrap;
}

.gsc-wrapper{

background: white;
}

[name='search']{
	background: white !important;
	margin: 0 !important;
	padding: 0 !important;
	padding-left: 5px !important;
}

.gsib_a {
	padding:0 !important;
}
