<cache/><!DOCTYPE html><html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style>
  	<base href="/">
  	<title class="ng-binding">CalDev.io - Agenda 4 developers &amp; others...</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="mobile-web-app-capable" content="yes">
  	<link rel="icon" type="image/png" href="img/caldevio.png">
  	<link rel="icon" sizes="196x196" href="img/caldevio.png">
  	<link rel="apple-touch-icon" sizes="128x128" href="img/caldevio.png">
  	
  	<!-- build:css css/production.min.css -->
	<link rel="stylesheet" href="js/libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="js/libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/main.3.css">
	<link rel="stylesheet" href="css/nav.2.css">
	<!-- /build -->
  </head>
  <body>  	

	<div id="wrap">
		<header class="custom-header">
			<div class="container">
				<ul>
					<li class="brand"> <a href="/"> CalDev <i class="fa fa-calendar-o"> <span class="io">.io</span></i> </a> </li>
					<li> <a href="c" id="nav-c"><i class="fa fa-calendar-o"></i> <span class="nav-text">Calendar</span> </a> </li>
					<li> <a href="a" id="nav-a"><i class="fa fa-plus"></i> <span class="nav-text">Add</span> </a> </li>
				</ul>
			</div>
		</header>
	
		<!-- ngView:  --><div ng-view="" ng-animate="{enter: 'animate-enter'}" class="ng-scope"><meta name="twitter:card" content="summary_large_image" class="ng-scope">
<meta name="twitter:site" content="" class="ng-scope">
<meta name="twitter:title" content="CalDev.io" class="ng-scope">
<meta name="twitter:description" content="Calendar for developers &amp; designers" class="ng-scope">
<meta name="twitter:creator" content="bilelz" class="ng-scope">
<meta name="twitter:image:src" content="http://caldev.io/js/misc/cache/index.png" class="ng-scope">

<div class="container ng-scope"> 
<div class="row">
	
	<div class="col-md-12 ng-binding">		
	
	
		
	    
		
		 <span ng-show="mailSend" class="ng-binding ng-hide">OK </span>
       <span ng-show="mailSendError" class="ng-binding ng-hide">KO  </span>
		
			<center>
				<!-- ngRepeat: entry in calendar.entry --><a href="DevArt__Art_made_with_code_googledevs/q7ecf18qdro0fa4gnu76r7ekfs" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="DevArt__Art_made_with_code_googledevs/q7ecf18qdro0fa4gnu76r7ekfs">
						<h4 itemprop="name" class="ng-binding">#DevArt : Art made with code @googledevs</h4>
						
						<div data-img="http://cdn1.sbnation.com/entry_photo_images/9795985/devartlede_large_verge_medium_landscape.jpg" class="imgLoading imgLoaded" style="background-image: url(http://cdn1.sbnation.com/entry_photo_images/9795985/devartlede_large_verge_medium_landscape.jpg); ">
							<meta itemprop="image" content="http://cdn1.sbnation.com/entry_photo_images/9795985/devartlede_large_verge_medium_landscape.jpg">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> Earth </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-02-04">
						<meta itemprop="endDate" content="2014-04-15">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">2 months ago</span>
							<span class="dayNumber ng-binding">4</span>
							<span class="monthLabel ng-binding">February</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="Webinaire_lancement_XL_Deploy_40/3kbg9jork1g1l7vqm4d16acrrs" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="Webinaire_lancement_XL_Deploy_40/3kbg9jork1g1l7vqm4d16acrrs">
						<h4 itemprop="name" class="ng-binding">Webinaire: lancement XL Deploy 4.0</h4>
						
						<div data-img="http://www.xebialabs.com/resources/images/styles/logo.jpg" class="imgLoading imgLoaded" style="background-image: url(http://www.xebialabs.com/resources/images/styles/logo.jpg); ">
							<meta itemprop="image" content="http://www.xebialabs.com/resources/images/styles/logo.jpg">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> 156 Boulevard Haussmann, 75008 Paris, France </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-04-15">
						<meta itemprop="endDate" content="2014-04-15">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in a day</span>
							<span class="dayNumber ng-binding">15</span>
							<span class="monthLabel ng-binding">April</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="DEVOXX_FRANCE_2014_DevoxxFR/3632d345k2op833trb8o0knmss" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="DEVOXX_FRANCE_2014_DevoxxFR/3632d345k2op833trb8o0knmss">
						<h4 itemprop="name" class="ng-binding">DEVOXX FRANCE 2014 @DevoxxFR</h4>
						
						<div data-img="http://www.devoxx.fr/wp-content/uploads/2013/10/slide_paris.jpg" class="imgLoading imgLoaded" style="background-image: url(http://www.devoxx.fr/wp-content/uploads/2013/10/slide_paris.jpg); ">
							<meta itemprop="image" content="http://www.devoxx.fr/wp-content/uploads/2013/10/slide_paris.jpg">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> 17 Boulevard Saint-Jacques  75014 Paris </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-04-16">
						<meta itemprop="endDate" content="2014-04-18">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in 2 days</span>
							<span class="dayNumber ng-binding">16</span>
							<span class="monthLabel ng-binding">April</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="The_Next_Web_Europe_Conference_2014_tnwconference/5mv3tco1uaq9ccjau868vrb0c8" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="The_Next_Web_Europe_Conference_2014_tnwconference/5mv3tco1uaq9ccjau868vrb0c8">
						<h4 itemprop="name" class="ng-binding">The Next Web Europe Conference 2014 @tnwconference</h4>
						
						<div data-img="http://thenextweb.com/conference/assets/img/speakers.png" class="imgLoading imgLoaded" style="background-image: url(http://thenextweb.com/conference/assets/img/speakers.png); ">
							<meta itemprop="image" content="http://thenextweb.com/conference/assets/img/speakers.png">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> Westerpark, Amsterdam, Pays-Bas </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-04-24">
						<meta itemprop="endDate" content="2014-04-25">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in 10 days</span>
							<span class="dayNumber ng-binding">24</span>
							<span class="monthLabel ng-binding">April</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="Concours__le_meilleur_dev_de_France_2014_MeilleurDev/t4h17e2jgndahjrfbqfvqi6fvk" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="Concours__le_meilleur_dev_de_France_2014_MeilleurDev/t4h17e2jgndahjrfbqfvqi6fvk">
						<h4 itemprop="name" class="ng-binding">Concours : le meilleur dev de France 2014 @MeilleurDev‎</h4>
						
						<div data-img="http://lemeilleurdevdefrance.com/2014/wp-content/uploads/2014/02/paris.jpg" class="imgLoading imgLoaded" style="background-image: url(http://lemeilleurdevdefrance.com/2014/wp-content/uploads/2014/02/paris.jpg); ">
							<meta itemprop="image" content="http://lemeilleurdevdefrance.com/2014/wp-content/uploads/2014/02/paris.jpg">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> École 42, Boulevard Bessières, Paris, France </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-05-15">
						<meta itemprop="endDate" content="2014-05-15">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in a month</span>
							<span class="dayNumber ng-binding">15</span>
							<span class="monthLabel ng-binding">May</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="SudWeb2014__PARTAGEZ_PLUS_QUE_DU_WEB_SudWeb/aua7l90q68iv2h4rr63pusvlsk" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="SudWeb2014__PARTAGEZ_PLUS_QUE_DU_WEB_SudWeb/aua7l90q68iv2h4rr63pusvlsk">
						<h4 itemprop="name" class="ng-binding">#SudWeb2014 : PARTAGEZ PLUS QUE DU WEB @SudWeb</h4>
						
						<div data-img="http://sudweb.fr/2014/img/logo.png" class="imgLoading imgLoaded" style="background-image: url(http://sudweb.fr/2014/img/logo.png); ">
							<meta itemprop="image" content="http://sudweb.fr/2014/img/logo.png">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> Toulouse </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-05-16">
						<meta itemprop="endDate" content="2014-05-17">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in a month</span>
							<span class="dayNumber ng-binding">16</span>
							<span class="monthLabel ng-binding">May</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="beyond_tellerrand__web_2014_btconf/up0838ms3ghv5idi3r0bhmvve0" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="beyond_tellerrand__web_2014_btconf/up0838ms3ghv5idi3r0bhmvve0">
						<h4 itemprop="name" class="ng-binding">beyond tellerrand // web 2014 @btconf</h4>
						
						<div data-img="http://www.mehr.de/uploads/media/SPIELSTAETTE-header-CTD_02.png" class="imgLoading imgLoaded" style="background-image: url(http://www.mehr.de/uploads/media/SPIELSTAETTE-header-CTD_02.png); ">
							<meta itemprop="image" content="http://www.mehr.de/uploads/media/SPIELSTAETTE-header-CTD_02.png">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> Capitol Theater, Erkrather Straße, Düsseldorf, Allemagne </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-05-19">
						<meta itemprop="endDate" content="2014-05-21">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in a month</span>
							<span class="dayNumber ng-binding">19</span>
							<span class="monthLabel ng-binding">May</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="Apple_WWDC_2014__Write_the_code_Change_the_world_AppStore/6trsiuibeeg61ka8vjbrti4dhg" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="Apple_WWDC_2014__Write_the_code_Change_the_world_AppStore/6trsiuibeeg61ka8vjbrti4dhg">
						<h4 itemprop="name" class="ng-binding">Apple WWDC 2014 | Write the code. Change the world @AppStore</h4>
						
						<div data-img="https://devimages.apple.com.edgekey.net/wwdc/images/wwdc14-home-branding.png" class="imgLoading imgLoaded" style="background-image: url(https://devimages.apple.com.edgekey.net/wwdc/images/wwdc14-home-branding.png); ">
							<meta itemprop="image" content="https://devimages.apple.com.edgekey.net/wwdc/images/wwdc14-home-branding.png">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> San Francisco, Californie, États-Unis </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-06-02">
						<meta itemprop="endDate" content="2014-06-06">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in 2 months</span>
							<span class="dayNumber ng-binding">2</span>
							<span class="monthLabel ng-binding">June</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="Devoxx_UK_devoxxuk/959q3oeh1tuogpi0id2qnfloi8" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="Devoxx_UK_devoxxuk/959q3oeh1tuogpi0id2qnfloi8">
						<h4 itemprop="name" class="ng-binding">Devoxx UK @devoxxuk</h4>
						
						<div data-img="https://ebmedia.eventbrite.com/s3-build/images/4412297/86454894419/1/logo.png" class="imgLoading imgLoaded" style="background-image: url(https://ebmedia.eventbrite.com/s3-build/images/4412297/86454894419/1/logo.png); ">
							<meta itemprop="image" content="https://ebmedia.eventbrite.com/s3-build/images/4412297/86454894419/1/logo.png">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> 52 Upper Street, Londres, Royaume-Uni </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-06-12">
						<meta itemprop="endDate" content="2014-06-13">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in 2 months</span>
							<span class="dayNumber ng-binding">12</span>
							<span class="monthLabel ng-binding">June</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="Moto360__Its_Time_Motorola/3v4cf7gfljao190sahe89vb95c" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="Moto360__Its_Time_Motorola/3v4cf7gfljao190sahe89vb95c">
						<h4 itemprop="name" class="ng-binding">#Moto360 : It's Time @Motorola</h4>
						
						<div data-img="http://lh3.googleusercontent.com/-mllsfpW4saE/Uy8EwKyj9fI/AAAAAAACcAQ/Ga6diLQYlmQ/s319-p/android_wear_-_clock_app_design_ramotion.gif" class="imgLoading imgLoaded" style="background-image: url(http://lh3.googleusercontent.com/-mllsfpW4saE/Uy8EwKyj9fI/AAAAAAACcAQ/Ga6diLQYlmQ/s319-p/android_wear_-_clock_app_design_ramotion.gif); ">
							<meta itemprop="image" content="http://lh3.googleusercontent.com/-mllsfpW4saE/Uy8EwKyj9fI/AAAAAAACcAQ/Ga6diLQYlmQ/s319-p/android_wear_-_clock_app_design_ramotion.gif">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> USA </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-06-21">
						<meta itemprop="endDate" content="2014-08-21">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in 2 months</span>
							<span class="dayNumber ng-binding">21</span>
							<span class="monthLabel ng-binding">June</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="GOOGLE_IO_2014_GoogleDevs/o34blsnfj739fpc0brg6jl77cc" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="GOOGLE_IO_2014_GoogleDevs/o34blsnfj739fpc0brg6jl77cc">
						<h4 itemprop="name" class="ng-binding">GOOGLE I/O 2014 @GoogleDevs</h4>
						
						<div data-img="https://www.google.com/events/io/images/photos/experience-1600.jpg" class="imgLoading imgLoaded" style="background-image: url(https://www.google.com/events/io/images/photos/experience-1600.jpg); ">
							<meta itemprop="image" content="https://www.google.com/events/io/images/photos/experience-1600.jpg">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> Moscone Center, Howard Street, San Francisco, Californie, États-Unis </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-06-25">
						<meta itemprop="endDate" content="2014-06-26">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in 2 months</span>
							<span class="dayNumber ng-binding">25</span>
							<span class="monthLabel ng-binding">June</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry --><a href="Selenium_Conf_14_Bangalore_India_SeleniumHQ/d56riaqm4o20e2q4k2g8p22i74" ng-repeat="entry in calendar.entry" itemscope="" itemtype="http://schema.org/Event" class="listBlock ng-scope">
						<link itemprop="url" href="Selenium_Conf_14_Bangalore_India_SeleniumHQ/d56riaqm4o20e2q4k2g8p22i74">
						<h4 itemprop="name" class="ng-binding">Selenium Conf ’14: Bangalore, India @SeleniumHQ</h4>
						
						<div data-img="http://docs.seleniumhq.org/images/big-logo.png" class="imgLoading imgLoaded" style="background-image: url(http://docs.seleniumhq.org/images/big-logo.png); ">
							<meta itemprop="image" content="http://docs.seleniumhq.org/images/big-logo.png">
						</div>
						
						<!--<span class="listDate" title="{{entry.gd$when[0].startTime}}">
								{{entry.gd$when[0].startTime  | momentfromnow:'YYYY-MM-DDTHH:mm:ss.SSSZ'}}
							</span>-->
						
						<span itemprop="location" itemscope="" itemtype="http://schema.org/Place">
							<p class="listWhere">
								<i class="fa fa-map-marker"></i>
								<span itemprop="name" class="ng-binding"> Bangalore, Karnataka, Inde </span>
							</p>
						</span>
						
						<meta itemprop="startDate" content="2014-09-04">
						<meta itemprop="endDate" content="2014-09-06">
						<span class="calendarframe">
							<span class="dayLabel ng-binding">in 5 months</span>
							<span class="dayNumber ng-binding">4</span>
							<span class="monthLabel ng-binding">September</span>
						</span>
				</a><!-- end ngRepeat: entry in calendar.entry -->
			</center>
		
	</div>
	
</div>
<p class="text-center">
	<a href="a" class="btn btn-success">Add an event</a>
</p>
</div>
</div>	
	</div>
		
	<div id="footer">
      <div class="container">
        <p class="text-muted credit">
        	Angular POC by <a href="http://bilelz.fr" target="_blank">Bilelz</a> /
			<a href="https://plus.google.com/+BilelZeghad?rel=author" target="_blank"><i class=" fa fa-google-plus fa-2x"></i></a> 
        	<a href="https://twitter.com/bilelz" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        	<a href="https://github.com/bilelz/angular-calendar" target="_blank"><i class=" fa fa-github fa-2x"></i></a>
        	<a href="javascript:window.scrollTo(0,0);" id="top" title="Go to the top of the page"> <i class="fa fa-arrow-up fa-2x"></i> </a>
        </p>
      </div>
    </div>
	<!-- build:js js/production.min.js -->
    
    <!-- /build -->
  
</body></html>