
<div class="container"> 
<div class="row">
	
	<div class="col-md-12">	

	<h1 class="title">Submit an event</h1>

	<div class="alert alert-success" ng-show="mailSend">
		<i class="fa fa-smile-o fa-2x"></i>
		{{mailResponseTxt}}
    </div>

<form class="form-horizontal" novalidate name="myFormNg"  ng-submit="addEvent(event)">
  <div class="form-group">
  	
  	<div class="col-lg-12 float">
  		<input type="text" class="form-control"  name="title" id="title" ng-model="event.title"  required ng-minlength="5" ng-maxlength="100"
      		ng-blur="myFormNg.title.blured=true"  ng-class="{notempty: myFormNg.title.required}">
	      <label for="title">
	      		Title
	      		<!-- <i class="fa fa-asterisk formStatus" ng-show="!myFormNg.title.$valid"></i> -->
	      		<i class="fa fa-check" ng-show="myFormNg.title.$valid"></i>
	      		<span class="label label-danger" ng-show="myFormNg.title.$error.required && myFormNg.title.blured">Required!</span>
		    	<span class="label label-warning" ng-show="myFormNg.title.$error.minlength && myFormNg.title.$dirty" >
		      		too short  (5 letters minimum). 
		      	</span>
		        <span class="label label-warning" ng-show="myFormNg.title.$error.maxlength"  >
		        	too long (100 letters maximum).
		        </span>
	    	</label>
	    	
	    <div class="progress">
		  <div class="progress-bar {{(myFormNg.title.$error.maxlength)?'progress-bar-danger':'progress-bar-success'}}" role="progressbar" aria-valuenow="{{event.title.length*100/1500 | number:0}}" 
		  	aria-valuemin="0" aria-valuemax="100" title="{{event.title.length*100/100 | number:0}}%"
		  	style="width: {{(myFormNg.title.$error.maxlength)?100:event.title.length*100/100 | number:0}}%;">
		  </div>
		</div>
  	</div>
  	
  	<div class="col-lg-12 float">
  		<input type="date" id="date"   name="date" ng-model="event.date" placeholder="JJ/MM/AAAA" ng-change="dateChange()" required="required" class="form-control date"/> <!--
	       --><label for="date"  ><i class="fa fa-calendar-o"></i> Date 
	    	<!-- <i class="fa fa-asterisk formStatus" ng-show="!(myFormNg.date.$valid && myFormNg.dateend.$valid && myFormNg.hour.$valid && myFormNg.hourend.$valid)"></i> -->
	    	<i class="fa fa-check" ng-show="(myFormNg.date.$valid && myFormNg.dateend.$valid)"></i>	    		
	    </label><!--	    
	    --><div class="float hour"><!--
  		--><select  name="hour" id="hour" required ng-model="event.hour"  class="form-control" 
		 			style="width:85px !important; display: inline-block" 
		 			ng-options="obj.value as obj.label for obj in hours">
			</select>
		      <label for="hour"  >  Hour 
		    	<!-- <i class="fa fa-asterisk formStatus" ng-show="!(myFormNg.date.$valid && myFormNg.dateend.$valid && myFormNg.hour.$valid && myFormNg.hourend.$valid)"></i> -->
		    	<i class="fa fa-check" ng-show="(myFormNg.date.$valid && myFormNg.dateend.$valid)"></i>	    		
		    </label>
	  	</div>
  	
  	
	  	<div class="  float end">
	  		<input type="date" id="dateend"   name="dateend" ng-model="event.dateend" placeholder="JJ/MM/AAAA" required="required" class="form-control date"/> <!--
		       --><label for="dateend"  ><i class="fa fa-calendar-o"></i> Date de fin
		    	<i class="fa fa-asterisk formStatus" ng-show="!(myFormNg.date.$valid && myFormNg.dateend.$valid && myFormNg.hour.$valid && myFormNg.hourend.$valid)"></i>
		    	<i class="fa fa-check" ng-show="(myFormNg.date.$valid && myFormNg.dateend.$valid)"></i>	    		
		    </label><!--	    
		    --><div class="float hour"><!--
	  		--><select  name="hourend" id="hourend" required ng-model="event.hourend"  class="form-control" 
			 			style="width:85px !important; display: inline-block" 
			 			ng-options="obj.value as obj.label for obj in hours"> 
					
				</select>
				
			      <label for="hourend"  >Hour 
			    	<!-- <i class="fa fa-asterisk formStatus" ng-show="!(myFormNg.date.$valid && myFormNg.dateend.$valid && myFormNg.hour.$valid && myFormNg.hourend.$valid)"></i> -->
			    	<i class="fa fa-check" ng-show="(myFormNg.date.$valid && myFormNg.dateend.$valid)"></i>	    		
			    </label>
		  	</div>
	  	</div>
	  </div>
  	
  	<div class="col-lg-12 float">
      <input type="text" class="form-control" id="adress" name="adress" ng-model="event.adress" required ng-minlength="3" ng-maxlength="100"
      ng-blur="myFormNg.adress.blured=true">
      <label for="adress" ><i class="fa fa-globe"></i> Adress 
	    	<!-- <i class="fa fa-asterisk formStatus" ng-show="!myFormNg.adress.$valid"></i> -->
	    	<i class="fa fa-check" ng-show="myFormNg.adress.$valid"></i>    	
	    	<span class="label label-danger" ng-show="myFormNg.adress.$error.required && myFormNg.adress.blured">Required!</span>
    	</label>
      
      
      <div class="progress">
		  <div class="progress-bar {{(myFormNg.adress.$error.maxlength)?'progress-bar-danger':'progress-bar-success'}}" role="progressbar" aria-valuenow="{{event.adress.length*100/1500 | number:0}}" 
		  	aria-valuemin="0" aria-valuemax="100" title="{{event.adress.length*100/100 | number:0}}%"
		  	style="width: {{(myFormNg.adress.$error.maxlength)?100:event.adress.length*100/100 | number:0}}%;">
		  </div>
		</div>
      <!-- <div id="map-canvas"> </div> -->
       
  	</div>
  	
  	<div class="col-lg-12 float">
	  
	      <textarea rows="5" name="description" id="description" ng-model="event.description" required
	       class="form-control" ng-minlength="10" ng-maxlength="1500" 
	       ng-blur="myFormNg.description.blured=true"></textarea>
	       
	       	<label for="description"  >Description 
	    	<!-- <i class="fa fa-asterisk formStatus" ng-show="!myFormNg.description.$valid"></i> -->
	    	<i class="fa fa-check"  ng-show="myFormNg.description.$valid"></i>
	    	<span class="label label-danger" ng-show="myFormNg.description.$error.required && myFormNg.description.blured">Required!</span>
	    	<span class="label label-warning" ng-show="myFormNg.description.$error.minlength && myFormNg.description.$dirty" >
	      		description is too short  (10 letters minimum).
	      	</span>
	        <span class="label label-warning" ng-show="myFormNg.description.$error.maxlength"  >
	        	description is too long (1500 letters maximum).
	        </span>
	    </label>
	       
	      
	      
	      	
	      	
	      	<div class="progress">
			  <div class="progress-bar {{(myFormNg.description.$error.maxlength)?'progress-bar-danger':'progress-bar-success'}}" role="progressbar" aria-valuenow="{{event.description.length*100/1500 | number:0}}" 
			  	aria-valuemin="0" aria-valuemax="150" title="{{event.description.length*100/1500 | number:0}}%"
			  	style="width: {{(myFormNg.description.$error.maxlength)?100:event.description.length*100/1500 | number:0}}%;">
			  </div>
			</div>
	   </div>
	   
	  <div class="col-lg-12 float">
	    
	    
	      <input type="email" class="form-control" name="mail" id="mail" ng-model="event.mail"   required
	      ng-blur="myFormNg.mail.blured=true">
	      
	      <label for="mail">Mail 
	    	<!-- <i class="fa fa-asterisk formStatus" ng-show="!myFormNg.mail.$valid"></i> -->
	    	<i class="fa fa-check"  ng-show="myFormNg.mail.$valid"></i>
	    	<span class="label label-danger" ng-show="myFormNg.mail.$error.required && myFormNg.mail.blured">Required!</span>
	      	<span class="label label-warning" data-ng-show="myFormNg.mail.$invalid && myFormNg.mail.$dirty">Invalid email!</span>
	    </label>
	    
  	</div>
  	<br/>
  	<div class="col-lg-12 ">
      	<button type="submit" class="btn btn-primary" ng-disabled="!myFormNg.$valid" ng-class="{'btn-primary':myFormNg.$valid}">
	      	
	      	<span class="error text" ng-show="!myFormNg.$valid"><i class="fa fa-paper-plane-o"></i>&nbsp;Complete all fields please.</span>
	      	<span class="text" ng-show="myFormNg.$valid"><i class="fa fa-paper-plane"></i>&nbsp;Send</span>
	      	<div id="add-progress"> </div>

	  	</button>

		<p class="alert alert-danger" id="mailSendError" ng-show="mailSendError">
       	 <i class="fa fa-exclamation fa-2x"></i>
       	 {{mailResponseTxt}}
       </p>
       
    </div>

  </div>
</form>

</div>
	<div class="col-md-4" style="display: none">	
		
	       <p>{{myFormNg | json}}</p>
	       <p>{{event | json}}</p>
	       <p>{{myFormNg.$error | json}}</p>

       

	</div>
</div>
</div>

